<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>张俊峰论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript" ></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"> </div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 发现</h2>
            <hr>
            <div class="media" th:each="question : ${pageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body" >
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"> <span th:text="${question.commentCount}"></span>个回复.<span th:text="${question.viewCount}"></span>次浏览.
                        <span th:text="${#dates.format(question.gmtCreate,'dd MMMM yyyy')}"></span></span>

                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageInfo.pageNum} gt 1">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="@{/(page=${(pageInfo.pageNum)-1})}" aria-label="Previous">
                            <span aria-hidden="false">&lt;</span>
                        </a>
                    </li>

                    <li th:each="navigatepageNum:${pageInfo.navigatepageNums}" th:class="${pageInfo.pageNum==navigatepageNum}? 'active':''">
                        <a th:href="@{/(page=${navigatepageNum})}" th:text="${navigatepageNum}"></a>
                    </li>

                    <li th:if="${pageInfo.hasNextPage}">
                        <a th:href="@{/(page=${pageInfo.pageNum+1})}" aria-label="Previous" >
                            <span aria-hidden="false">&gt;</span>
                        </a>
                    </li>

                    <li th:if="${pageInfo.pageNum} lt ${pageInfo.pages}">
                        <a th:href="@{/(page=${pageInfo.pages})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>问题发起指南</h3>
            <h4>问题标题</h4>请用简短的文字描述问题，不超过25字。<br>
            <h4>问题补充</h4>请详细的描述，并加以附件的形式描述问题。<br>
            <h4>选择标签</h4>选择一个或者多个标签。用逗号隔开，每个标签不超过10个字。<br>
        </div>
    </div>
</div>
</body>
</html>